._*
istatd
config.h
config.log
config.status
config.guess
config.sub
configure
config.h.in
Makefile
Makefile.in
autom4te.cache
aclocal.m4
depcomp
missing
install-sh
stamp-h1
stamp-h2
.deps
.libs
*.o
*.lo
*.exe
*.so
*.la
*.a

